<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Генерація піксель-арту</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 0 px;
        }

        a {
            color: #1a73e8;
            text-decoration: none;
            font-size: 20px;
        }

        a:hover {
            text-decoration: underline;
        }

        footer {
            margin-top: 80px;
            font-size: 14px;
            color: #555;
        }
    </style>
</head>
<body>

    <h1>Веб-додаток для генерації піксель-артів</h1>
    <p>Натисніть нижче, щоб перейти до завантаження зображення та налаштувань.</p>

    <p>
        <a href="/upload/">Перейти до генерації піксель-арту</a>
    </p>

    <div class="gif-box">
        <img src="{% static 'img/loading.gif' %}" alt="loading animation">
    </div>

    <footer>
        Автор: Василь Кислянка  
        <br>
        Email: vasyl.kyslianka@lnu.edu.ua
    </footer>

</body>
</html>
